<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481540764585-ug2tssa73o0btd9qimn85hn3drs60vlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481540764585-ug2tssa73o0btd9qimn85hn3drs60vlv</string>
	<key>API_KEY</key>
	<string>AIzaSyCMs2QRq1MeZjRbE6C89tjMRmGmvUH7KAs</string>
	<key>GCM_SENDER_ID</key>
	<string>481540764585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anthonybajoua.honest</string>
	<key>PROJECT_ID</key>
	<string>honest-5a409</string>
	<key>STORAGE_BUCKET</key>
	<string>honest-5a409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481540764585:ios:ade70b9034a362971c4ab8</string>
	<key>DATABASE_URL</key>
	<string>https://honest-5a409.firebaseio.com</string>
</dict>
</plist>